<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="div">
        {% for hotel in hotels %}
            <div style="display: flex; margin-bottom: 15px;">
                <img src="{{ url_for('static', path='images/' +  hotel.image_id|string + '.webp') }}" alt="" width="300px">
            <div>
                <div><h1>{{hotel.name}}</h1></div>
                <div><h2>{{hotel.location}}</h2></div>
            </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>